.center {
    margin: auto;
    width: 50%;
}

.site-infos {
    font-family: 'Roboto', sans-serif;
}

.border-radius-input {
    border-radius: 27.5rem 0 0 27.5rem !important;
    margin: 0 !important;
}

.border-radius-button {
    border-radius: 0 27.5rem 27.5rem 0 !important;
    margin: 0 !important;
}


/*Modal components*/

.modal-container-border {
    border: groove black;
    border-radius: 30px;
    min-height: 12rem;
}

.modal-btn-CSV {
    border-radius: 13px;
}

.modal-rounded {
    border-radius: 20px !important;
    min-height: 12rem;
}

.modal-center {
    margin: 16.75rem auto;
}

.modal-post-submit-hidden {
    display: none;
}

.modal-reset-button {
    border-radius: 13px;
    padding: 0px 4px 2px 4px;
}

.modal-post-submit {
    margin-top: 2rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}