.graph-resume-libelle p span {
    font-weight: normal;
    color: #0a0a0a;
}


/* ------------------------------------ PARTIE GRAPHIQUES --------------------------------------------------- */

.graph {
    /*visibility: hidden;*/
    border-radius: 30px;
}

.btn-graph {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.double-column {
    width: 50%;
}

.chart-container {
    width: 50%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
}

canvas {
    background: white;
}

.container-graph {
    position: relative;
    background-color: white;
    /*border: solid red;*/
    /*width: 40%;*/
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
}

.graph-40 {
    width: 48%;
    /*margin: 2%;*/
}

.graph-resume {
    background-color: #EE4145;
}

.title-part-graph {
    text-align: center;
    color: white;
    text-transform: uppercase;
    /*margin: 2% 0 3% 0;*/
    letter-spacing: 3px;
    font-style: normal!important;
}

.under_title {
    width: 70px;
    height: 2px;
    background-color: #EE4145;
    margin: 0 auto;
}

.container-main {
    margin: 3% 0 5% 0;
}

.graph-resume-libelle {
    padding: 2%;
}

.graph-resume-libelle p {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-bottom: 1%;
}