<!DOCTYPE html>
<html>
    {#---------------------------------------HEAD-------------------------------------------#}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#-----------------------------------CSS--------------------------------------------#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}  
        {% endblock %}
    </head>
    {#---------------------------------------BODY-------------------------------------------#}
    <body>
    </body>
    {#----------------------------------------JS--------------------------------------------#}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}  
</html>
