<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Youtube Catalogue</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="nav-bar text-light">
            <div class="h1">
                <b>Youtube Catalogue</b>
            </div>
            <div class="d-flex flex-row-reverse mx-4">
                <div class="h2">
                    <b class="px-1">{% block pageTitle %}{% endblock %}</b>
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
