{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('menu') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('menu') }}
{% endblock %}

{% block body %}



<div class="container input-center">
    <div class="col-12 row ">
        <div class="input-group mb-3">
            <input class="form-control border-radius-input" onkeyup="url_video()" type="text"
                name="search" placeholder="Saisir une URL">

            <input class="btn btn-danger border-radius-button" type="button" value="Download">
        </div>


    </div>

    <div class="download_video">

        <input class="btn btn-danger" type="button" value="Download video">
        
    </div>
</div>
{% endblock %}



